name: Build

on:
  pull_request:
  push:
     branches:
       - main

jobs:
  build:
    if: ${{ github.repository == 'Netflix/spectator-cpp' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install System Dependencies
        run: |
          sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
          sudo apt-get update && sudo apt-get install -y binutils-dev g++-13 libiberty-dev
          g++ --version
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-13 100
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-13 100

      - name: Build
        run: |
          ./setup-venv.sh
          source venv/bin/activate
          ./build.sh
